.profile {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: aliceblue;
  outline: 1px solid;
}
.avatar {
  width: 85px;
  border-radius: 50%;
}
.stats {
   display: flex;
   background-color:  aliceblue;;
 }
.name {
  font-weight: 500;
  margin-bottom: 10px;
}
.description {
  text-align: center;
  padding: 20px;
  background-color: white;
}
.tag {
  color: gray;
}
.location {
  color:black;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.label {
  color: gray;
  padding-bottom: 5px;
}
.quantity {
  font-weight: 600;
}